section{
    width: 100%;
    /* transition: all .5; */
    position: relative;
}

.right{
    position: absolute;
    height: 80vh;
    width: 87vw;
    float: left;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    flex-wrap: wrap;
    margin-top: 65px;
    overflow-y: scroll;
}

.right::before{
    content: '';
    position: relative;

}

.right #home{
    
    text-align: center;
    margin: 15px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0px 0px 15px #00000085;
    color: #05386b;
}
.right #home:hover{
    color: #46a270;
}

.right #home .box1{
    width: 215px;
    height: 20px;
    margin-top: 3px;
    padding: 5px;
    cursor: pointer ;
    text-align: center;
}
.right #home .elem{
    display: flex;
    margin: 15px 5px;
    padding: 0px;
    
}
.right #home .elem i{
    font-size: 35px;
    margin: 0 45% 0 5%;
    margin-bottom: 20px;
   
}
.right #home p{
    font-weight: bold;
}
.wrapper1{
    position: relative;

}
.wrapper1 span{
    padding: 0 0px;
    margin: 0 auto;
}
.box{
    display: inline-block;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    font-size: 18px;

}
.box:after{
    position: relative;
    white-space: pre;
    content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
}
.box.first-number:after{
    animation: animate-number 1s steps(10) infinite;
}
.box.second-number:after{
    animation: animate-number 10s steps(10) infinite;
}
.box.third-number:after{
    animation: animate-number 100s steps(10) infinite;
}
.box.forth-number:after{
    animation: animate-number 1000s steps(10) infinite;
}
@keyframes animate-number{
    0%{
        top: 0;
    }
    100%{
        top: -10em;
    }
}

@media (max-width:902px) {
    .right{
        position: absolute;
        height: 80vh;
        width: 87vw;
        float: left;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        flex-wrap: wrap;
        margin-top: 65px;
        overflow-y: scroll;
    }
    .right::before{
        content: '';
        position: relative;
    
    }
}
@media (max-width:650px){
    .right{
        position: absolute;
        height: 80vh;
        width: 87vw;
        float: left;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        flex-wrap: wrap;
        margin-top: 65px;
        overflow-y: scroll;
    }
}